@model Course
@{
    ViewBag.Title = "Delete";

}


<h4 class="alert alert-danger">Are You Sure You Wanna Delete "@Model.CourseName"</h4>
<br />
<form asp-action="DeleteConfirm" method="post">
    <br />
    <a asp-action="DeleteConfirm" asp-controller="Course" asp-route-id="@Model.CourseId" class="btn btn-danger">Delete</a>
</form>
<br />
<a asp-action="index" class="btn btn-info"> Go Back </a>
