@model Course
@{
    ViewBag.Title = "Details";

}

<div class="alert alert-danger">
    <label style="font-size:15px">Course Id: </label><h5>@Model.CourseId</h5>
    <label style="font-size:15px">Course Name: </label><h5>@Model.CourseName</h5>
    <label style="font-size:15px">Duration: </label><h5>@Model.Duration</h5>
    <label style="font-size:15px">Department Name: </label><h5>@Model.Department.DeptName</h5>

</div>
<br />
<a asp-action="index" class="btn btn-info"> Go Back </a>
